body {
    margin: 0;
    padding: 0;
    text-align: center;
    /* background: linear-gradient(135deg, #156ace, cyan); */
}

.title {
    margin-top: 100px;
    font-size: 32px;
    font-weight: bold;
    line-height: 10px;
    /* color: white; */
    color: #156ace;
}

form {
    margin-top: 50px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #156ace;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 50px;
}

form .submit {
    background-color: #156ace;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 10px;
}

form .submit:hover {
    background-color: #0c78f3;
    cursor: pointer;

}


/* ----- RESPONSIVENESS ----- */

@media (max-width: 1100px) {
    body {
        padding: 80px 16px;
    }

    .title,
    .box {
        font-size: 28px;
        min-width: unset;
        width: 100%;
        margin: 5px;
    }

    form {
        min-width: unset;
        width: 50%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-control {
        min-width: unset;
        width: 170%;
        margin-left: 10px;
        font-size: 18px;       
    }

    form .submit {
        font-size: 24px;       
    }

}

@media (max-width: 650px) {
    body {
        padding: 80px 16px;
    }

    .title,
    .box {
        font-size: 24px;
        min-width: unset;
        width: 100%;
        margin: 5px;
    }

    form {
        min-width: unset;
        width: 50%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-control {
        min-width: unset;
        width: 170%;
        margin-left: 10px;
        font-size: 12px;       
    }

    form .submit {
        font-size: 18px;       
    }

}