*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #313131;
}

body {
    min-height: 100vh;
    font-size: 14px;
    background: linear-gradient(135deg, rgb(54, 114, 224), cyan);
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- Menu Bar ----- */

.menu {
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    z-index: 2;
}

.menu-item {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-decoration: none;
}

.menu-item i {
    font-size: 2em;
    margin-bottom: 8px;
}

a,
i,
.menu-item,
.menu-item i {
    text-decoration: none;
    transition: color .5s;
    color: #157ace;
}

a:hover,
i:hover {
    background-color: #157ace;
    color: white;
}

/* ----- Profile ----- */

.img-profile {
    position: relative;
    background: url(../images/Profile-Image.jpg) no-repeat;
    background-size: cover;
    min-height: 350px;
    background-position: 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 70px;
    max-height: 90vh;
    min-width: 350px;
    border-radius: 5px;
    margin-left: 12px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.15);
}

.profile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #157ace;
    transform: translate(-20px, -20px);
    border-radius: 5px;
}

.profile-body {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    margin: 32px auto 12px;
    font-size: 2.2em;
    letter-spacing: 1px;
}

.job{
    color: #157ace;
    margin-bottom: 20px;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.socials a {
    text-decoration: none;
    font-size: 1.8em;
    margin: 8px;
}

.socials a:hover {
    font-size: 2em;
}

.action {
    position: relative;
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-weight: bold; */
}

.main {
    max-height: 50vh;
    overflow-y: auto;
    background-color: #fff;
    align-self: center;
    border-radius: 5px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

/*----- Scroll Styling ----- */

body ::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #157ace;
    border-radius: 10px;
    border: 2px solid cyan;
}

/* ----- About Me ----- */

.title {
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #313131;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
    border-bottom: 1px solid #ddd;
} 

.title span {
    color: #157ace;
}

.section-item {
    padding: 25px;
    padding-left: 50px;
}

.asset-body {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.split .asset-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item label {
    border: 1px solid;
    color: #157ace;
    padding: 0 8px;
    border-radius: 5px;
}

/* ----- Education ----- */

.time{
    color: #157ace;
    border: 1px solid;
    padding: 0 8px;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    line-height: 18px;
    margin-bottom: 12px;
}

.item-name {
    color: #313131;
    font-size: 1.3em;
}

.place-name {
    margin-bottom: 12px;
    font-size: 1em;
}

/* ----- SKILLS ----- */

.skills > .asset-body {
    line-height: 20px;
}

/* ----- Gallery ----- */

.asset-body.grid {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: flex-start;
}

.gallery-item {
    width: 380px;
    margin: 20px;
    cursor: pointer;
}

.gallery-item .img-content,
.gallery-item img {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    border-radius: 3%;
}
 
/* .img-content:hover img {
    transform: scale(1.5);
} */

.image-resize {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.image-resize-2 {
    height: 550px;
    object-fit: cover;
    object-position: center;
}

.project-name {
    text-align: center;
    font-size: .9em;
    transition: transform 0.5s;
}

.project-name:hover {
    font-size: 1em;
    font-weight: bold;
    color: #157ace;
}

/* ----- RESPONSIVENESS ----- */

@media (max-width: 1100px) {
    body {
        flex-wrap: wrap;
        padding: 80px 40px;
    }
    .menu {
        position: fixed;
        top: 12px;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        overflow-y: hidden;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    }

    .menu-item {
        width: 95px;
        height: 65px;
    }

    .profile,
    .main {
        min-width: 550px;
        width: 550px;
        margin: 12px;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    }

    .profile {
        grid-template-rows: 1fr 170px 70px;
    }

    .main {
        max-height: unset;
    }
}

@media (max-width: 650px) {
    body {
        padding: 80px 16px;
    }

    .profile,
    .main {
        min-width: unset;
        width: 100%;
        margin: 12px;
    }

    .split .asset-body {
        grid-template-columns: 1fr;
    }

    .menu-item {
        width: 80px;
        height: 50px;
    }

    .asset-body.grid {
        justify-content: center;
    }

}

::selection{
    color: white;
    background-color: #157ace;
}







